spring.config.import=optional:file:../.env[.properties],optional:file:.env[.properties]
server.port=8080

# Secrets (provided by Vault in prod)
spring.cloud.vault.enabled=false
jwt.secret=${JWT_SECRET_KEY:}
recovery.secret=${RECOVERY_SECRET:}
device.secret=${DEVICE_SECRET:}

# JWT settings
jwt.refresh.expiration.ms=2592000000
jwt.access.expiration.ms=900000

# MQTT JWT settings
mqtt.jwt.expiration.ms=600000
mqtt.jwt.private.key.path=${MQTT_PRIVATE_KEY_PATH:}

# Database settings
spring.datasource.url=${DB_URL:}
spring.datasource.username=${DB_USERNAME:admin}
spring.datasource.password=${DB_PASSWORD:}
spring.jpa.show-sql=true
spring.sql.init.mode=never
spring.jpa.hibernate.ddl-auto=update
spring.jpa.defer-datasource-initialization=true

# Redis settings
spring.data.redis.host=${REDIS_HOST:localhost}
spring.data.redis.port=${REDIS_PORT:6379}
spring.data.redis.ssl.enabled=false
spring.cache.type=redis

# Hibernate settings
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.physical_naming_strategy=org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
spring.jpa.properties.hibernate.implicit_naming_strategy=org.hibernate.boot.model.naming.ImplicitNamingStrategyJpaCompliantImpl

# RabbitMQ settings
spring.rabbitmq.host=${RABBITMQ_HOST:localhost}
spring.rabbitmq.port=${RABBITMQ_PORT:5672}
spring.rabbitmq.username=${RABBITMQ_USERNAME:admin}
spring.rabbitmq.password=${RABBITMQ_PASSWORD:}

# Modulith settings
spring.modulith.events.republish-outstanding-events-on-restart=true
spring.modulith.events.jdbc.schema-initialization.enabled=true

# CORS (Vite)
cors.allowed-origins=${CORS_ALLOWED_ORIGINS:}

# Logging
logging.level.org.springframework.web=DEBUG
logging.level.dev.ivfrost.hydro_backend=DEBUG